.home .top {
	padding-top: 40px;
	background: url('../img/background.png') no-repeat top right fixed;
    background-size: 1200px 700px;
}

.home .macrolytic-logo {
	background: url('../img/LOGO.png');
}
.home ul li {
	padding-right: 60px;
	list-style: none;
}
.home .menu ul li a{
	color: #fff;
	font-weight: 300;
	font-size: 18px;
}
.home .menu ul li a:hover{
	text-decoration: none;
}
.home .contract {
	background: url('../img/search.png') no-repeat;
}
.home .contract ul{
	padding-left : 20px !important;
	padding-right : 0 !important;
}
.home .contract ul li{
	padding : 0 !important;
}
.home .contract ul li a{
	color: #fff;
}